[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/jshint2"]
	path = .vim/bundle/jshint2
	url = git@github.com:Shutnik/jshint2.vim.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundles/pydocstring"]
	path = .vim/bundles/pydocstring
	url = git@github.com:heavenshell/vim-pydocstring.git
[submodule ".vim/bundle/pydocstring"]
	path = .vim/bundle/pydocstring
	url = git@github.com:heavenshell/vim-pydocstring.git
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule ".vim/bundle/FastFold"]
	path = .vim/bundle/FastFold
	url = git@github.com:Konfekt/FastFold.git
[submodule ".vim/bundle/dracula-theme"]
	path = .vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
